.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los elementos */
    flex-wrap: wrap; /* Permite que se ajusten en pantallas pequeñas */
    margin-top: 20px;
  }
  